
/*** site header *************************************************/
header {
  width: 100%;
  background-color: #3cc26d;
  background: linear-gradient(to left, #4fdf82, #3cc26d, #2fb05c);
}
.flex-header {
  /* flex parent attributes*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: -webkit-sticky;  /* required for Safari */
  position: sticky;
  top: 0; /* required as well. */
  height: 60px;
  z-index: 10;
}

.flex-header2 {
  /* flex parent attributes*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /*flex child attributes*/
  width: 100%;
  max-width: 960px;
  align-items: center;
}
#small-nav {
  z-index: 10;
}
nav {
  color: white;
  font-family: 'Averia Libre';
}
.nav-link {
  color: white;
}
.nav-link:hover{
  color: #22714c;
}
#header-nav {
  padding-right: 20px;
}
.nav-link {
  font-size: 24px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Averia Libre';
}

#logo {
  margin: 10px;
  height: 40px;
  width: 250px;
}

/*** responsive hamburger icon ***********************************/
#hamburger {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8.5px, 6px) ;
  transform: rotate(-45deg) translate(-8.5px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/*** expandable hamburger menu ***********************************/
.outer {
  position: fixed;
  top: 60px;
  width: 100%;
  background: linear-gradient(to left, #4fdf82, #3cc26d, #2fb05c);
  opacity: 1;
  transition: visibility 0.1s, opacity 0.1s linear;
}
.hidden{
  visibility: hidden;
  opacity: 0;
}
.inner {
  position: relative;
  margin: 20px auto;
  width: 100px;
}
/*** site footer ***************************************************/
#projects-nav {
  position: fixed;
  bottom: 28px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: linear-gradient(rgba(255, 255, 255, .0),rgba(255, 255, 255, .75), white);
  width: 100%;
}
#projects-nav a {
  display: block;
  font-family: 'Averia Libre';
  color: rgba(55, 55, 55, 0.8); 
  text-decoration: none;
  font-size: 1.5em;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.968);
  padding: 30px 0 10px 0;
}
#left-nav {
  text-align: right;
}
#github-logo {
  box-sizing: content-box;
  height: 48px;
  min-width: 50px;
  margin: 0 50px;
}
footer {
  width: 100%;
  background-color: gray;
  text-align: center;
  color: white;
  padding: 5px 0;
  font-family: 'Averia Libre';
}
#fixed-footer{
position: fixed;
bottom: 0px;
}

main {
  margin-bottom: 60px; /* make room for project navigation*/
}

@media only screen and (max-width: 500px) {
  #github-logo {
    margin: 0 20px;
  }
}