* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Averia Libre';
  font-size: 20px;
  color: rgb(101, 101, 101);
}
section {
  padding-top: 30px; /* so when you click link to navigate to section, the heading is not hidden by header */
}
button {
      font-family: 'Averia Libre', sans-serif;
      padding: 0 25px;
      margin: 10px ;
      height: 48px;
      background-color: #3cc26d;
      border: 0px solid #4CAF50;
      border-radius: 3px;
      color: white;
}
button a{
  color: white;
}

h1 , h2{
  padding: 10px 0 0 50px;
  font-family: 'Averia Libre';
  color: rgb(80, 80, 80);
  font-size:3em;
}
h2 {
  font-size: 2em;
}

/* main body elements will always stack*/
.flex-body {
    display: flex;                /* signifies this is a flex parent*/
/*    flex-direction: column;       /* defines main axis (row, row-reverse, column, column-reverse)*/
/*    flex-wrap: wrap;              /* defines wraping properties (nowrap, wrap, wrap-reverse)*/
    flex-flow: column nowrap;       /* combination of flex-direction & flex-wrap */
    justify-content: flex-start;  /* defines alignment along main axis (flex-start, flex-end, center, space-between, space-around)*/
    align-items: center;          /* defines alignment along cross axis (flex-start, flex-end, center, stretch, baseline)*/
    align-content: flex-start;    /* defines spacing of lines of cross axis if extra space (flex-start, flex-end, center, stretch,space-between, space-around)*/
    background-color: #e2d7d3;
}

.flex-main {
  /* flex parent attributes*/
  display: flex;
  flex-flow: column wrap;
  /*flex child attributes*/
  width: 100%;
  max-width: 960px;
  background-color: white;
}

.flex-portfolio {
  /* flex parent attributes*/
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  /* defines alignment along main axis (flex-start, flex-end, center, space-between, space-around)*/
  align-items: flex-start;          /* defines alignment along cross axis (flex-start, flex-end, center, stretch, baseline)*/
  /*align-content: stretch;    /* defines spacing of lines of cross axis if extra space (flex-start, flex-end, center, stretch,space-between, space-around)*/
}

.flex-portfolio-item {
  /* flex child attributes*/
  flex: 1 0 40%; /**/
  margin: 0%;
}

.flex-portfolio-item1, .flex-portfolio-item2 {
  /* flex child attributes*/
  flex: 1 0 100%; /**/
  margin: 0%;
}

.flex-contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  /* defines alignment along main axis (flex-start, flex-end, center, space-between, space-around)*/
  align-items: center;          /* defines alignment along cross axis (flex-start, flex-end, center, stretch, baseline)*/
  align-content: space-between;    /* defines spacing of lines of cross axis if extra space (flex-start, flex-end, center, stretch,space-between, space-around)*/
  margin: 20px;
}

.text-box{
  margin: 10px;
}

.profile-img {
  padding: 20px;
  float: right;
}

address {
  padding: 10px;
  margin-left: 60px;
}

/* Responsive Layouts/ Media queries*/
@media only screen and (min-width: 521px) {
  .text-box{
      padding: 0 20px 0 50px;
  }

  .flex-portfolio-item1 {
      /* flex child attributes*/
      flex: 1 0 40%; /**/
      margin: 0%;
  }

  .flex-portfolio-item2 {
  /* flex child attributes*/
  flex: 1 0 40%; /**/
  margin: 1%;
  }
}

@media only screen and (max-width: 768px) {
  p {
      font-size: 18px;
  }
  h1, h2 {
    text-align: center;
    padding: 10px 0 0 0;
  }
}