* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'helvetica';
  font-size: 20px;
  color: rgb(101, 101, 101);
}

section {
  padding-top: 30px; /* so when you click link to navigate to section, the heading is not hidden by header */
}

button {
      font-family: 'Averia Libre', sans-serif;
      padding: 0 25px;
      margin: 10px ;
      height: 48px;
      background-color: #3cc26d;
      border: 0px solid #4CAF50;
      border-radius: 3px;
      color: white;
}

button a{
  color: white;
}

h1 , h2{
  padding: 10px 0 0 50px;
  font-family: 'Averia Libre';
  color: rgb(80, 80, 80);
  font-size:3em;
}

h2 {
  font-size: 2em;
}

/* main body elements will always stack*/
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    background-color: #e2d7d3;
}

main {
  width: 100%;
  max-width: 1400px;
  background-color: white;
  padding: 0 20px;
  margin-bottom: 0;
}

#about > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#portfolio > .portfolio-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.flex-contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin: 20px 0;
}

.text-box{
  margin: 10px;
}

.profile-img {
  padding: 20px;
  /* float: right; */
  max-width: 100%;
}

address {
  padding: 10px;
  margin-left: 60px;
}
figure {
  margin: 1rem;
}
#portfolio figure:not(.codepen) {
  height: 399px;
  border: 1px solid rgb(101, 101, 101);
}
#portfolio figure:not(.codepen) > h3 {
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 11px;
  color: white;
  background: #3d3d3e;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-weight: normal;
  font-size: 1.1em;
}
.portfolio-list > figure > a {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100% - 50px);
}
.portfolio-list > figure > a::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity .5s;
  padding: 20px;
  white-space: pre-wrap
}
.portfolio-list > figure > a:hover::before {
  opacity: 1;
}
figure > a.weather-app {
  background-image:url("../images/weather-app-screen-shot.jpeg");
}
figure > a.weather-app::before {
  content: 'This is a mobile first responsive PWA\A\A Skills Used: service workers, AJAX, Transitions, Animations Touch Events, Browser Storage, Geolocation API, Responsive Layout, Grid';
}
figure > a.simon-game {
  background-image:url("../images/simon-screen-shot.png");
}
figure > a.simon-game::before {
  content: 'This blast from the past uses recorded sounds from an actual Simon device. \A\A Technologies Used: SVG, Responsive Layout, Flex, jQuery';
}
figure > a.tic-tac-toe {
  background-image:url("../images/tic-tac-toe-screen-shot.png");
}
figure > a.tic-tac-toe::before {
  content: 'This game features 3 difficulty levels and an unbeatable AI. Implements a min-max algorithm that I spent way too long figuring out.  \A\A Skills Used: jQuery, Algorithms';
}
figure > a.markdown {
  background-image:url("../images/markdown-screen-shot.png");
}
figure > a.markdown::before {
  content: 'This is a simple React application. I used create-react-app to build. Also uses marked.js to parse the markdown. \A\A Skills Used: React, Responsive Layout';
}
figure > a.quotes {
  background-image:url("../images/quotes-screen-shot.png");
}
figure > a.quotes::before {
  content: 'A very simple AJAX application. I had fun with the design on this one. \A\A Skills Used: VanillaJS, Fetch, Twitter API';
}
figure > a.calculator {
  background-image:url("../images/calculator-screen-shot.png");
}
figure > a.calculator::before {
  content: 'A clean calculator based on the cheap handhelds that everyone has used at one point or another.\A\A Skills Used: Algorithms, Proceedural Programming';
}
figure > a.wikipedia {
  background-image:url("../images/wikipedia-screen-shot.png");
}
figure > a.wikipedia::before {
  content: 'Another clean, simple application. Search for anything!\A\A Skills Used: AJAX, Responsive Layout';
}