ul {
  padding: 10px;
}
li {
  list-style: none;
  padding: 10px 0;
}
li.new {
  font-weight: bold;
}
li.new::before {
  content: '*';
}
img {
  width: 25px;
  height: 25px;
}

div.header {
  border: none;
  background-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}
header {
  display: flex;
  justify-content: flex-end;
  border: solid;
  background-color: lightgray;
  padding: 10px;
}
.drop-down {
  align-self: flex-end;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  background-color: lightgray;
  border: solid;
  padding: 10px;
  border-top: none;
}
.drop-down * {
  margin-top: 10px;
}
.container {
  width: 600px;
  margin: auto;
}