* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: white;
}
main {
  margin: 50px 0;
  background-color: lightgray;
  position: relative;
}
main.page {
  min-height: 500px;
  max-width: 900px;
}
main header {
  border: solid;
  height: 50px;
  padding: 10px;
}
main section {
  border-left: solid;
  border-right: solid;
}
main footer {
  border: solid;
  height: 50px;
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 10px;
}
main footer::before {
  content: 'Footer';
}
button {
  font-size: 1rem;
  padding: .5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(230, 230, 230)
}
button:hover {
  background-color: lightgray;
}
.apr {
  font-size: 1rem;
}
.component {
  border: solid;
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}
input, select {
  font-size: 1rem;
  background-color: white;
}