* {
  box-sizing: border-box;
}

.to-do-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.to-do-item {
  padding: 5px;
  display: flex;
  font-size: 8vw;
  min-width: 50px;

  width: 100%;
  max-width: 900px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.handle {
  font-size: 6vw;
  height: 9.1vw;
  padding: 0 1.5vw;
  margin-right: 1vw;
  background-color: rgb(218, 221, 223);
  color: gray;
  border-radius: .5vw;
  text-decoration: initial;
}

div.completed span{
  color: grey;
  text-decoration: line-through;
}

.archived {
  pointer-events: none;
}

.hover {
  background-color: pink;
}