* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.logo {
  font-family: 'Denk One', sans-serif;
  text-align: right;
  margin: 5px;
}
#calc-body {
  display: flex;
  flex-flow: column nowrap;
  width: 350px;
  margin: 20px auto;
  padding: 15px;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 5px grey;
}
/* display screen */
.screen-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 50px;
  text-align: right;
  padding: 1px;
  margin-bottom: 10px;
  background-color: #c7ccc9;
  color: #3f3f3f;
}
#l-scrn {
  width: 5%;
}
#r-scrn {
  width: 95%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 45px;
  padding-right: 5px;
}
/* button area */
#button-container {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: row nowrap;
}
.left-btn-area {
  width: 75%;
}
.right-btn-area {
  width: 25%;
}
.lbtn, .rbtn{
  font-size: 17px;
  border-radius: 5px;
}
.lbtn {
  width: 30%;
  height: 50px;
}
.rbtn {
  width: 95%;
  height: 55px;
}
.plus {
  height: 85px;
}
button {
  margin: 0 2px 5px 2px;
}
.num-btn {
  background-color: black;
  color: white;
  font-size: 20px;
}
#equals {
  background-color: orange;
}
#reset, #mRecall, #mClear, #mSet, #clearEntry {
  color: red;
}

/* on small screen, remove calculator "body", place buttons directly on background */
@media only screen and (max-width: 360px) {
  body {
    background-color: #eee;
  }
  .logo {
    margin: 0px 10px 10px 0;
  }
  #calc-body {
    width: 100%;
    margin: 20px 0px;
    padding: 15px 0px;
    background-color: #eee;
    border-radius: 0px;
    box-shadow: none;
  }
  #button-container {
  padding: 0px 15px;
  }
}